{% extends 'layout.html' %}

{% block body %}
    <div id='date-range' class='row mb-5'>
        <div class='col text-center'>
            {{ sprint.start.strftime('%a %-d %b %Y') }}&nbsp;&ndash;
            {{ sprint.end.strftime('%a %-d %b %Y') }}

            {% if days_left >= 0 %}
                <span id='days-left'>&ndash; {{ days_left }}d Left</span>
            {% else %}
                <span id='days-ago'>&ndash; Closed {{ days_left * -1 }}d Ago</span>
            {% endif %}
        </div>
    </div>



    <div class='row'>
        {% for status in data %}

            {% set status_loop = loop %}
            <div class='col sprint-col'>
                <div class='header text-center mb-4'>
                    <span class='count text-{{ status['color'] }}'>{{ status['count'] }}</span>
                    <span class='status'>{{ status['status'] }}</span>
                </div>

                {% for item in status['items'] %}
                    {% if item.status == status['status'] %}

                        <div class='card sprint-item'>
                            <div class='card-header'></div>

                            <div class='card-body'>

                                <a class='text-link' href='/items/{{ item.id }}'>
                                    <div class='item-text'>
                                        <span class='mr-2'>{{ item.name|truncate(150) }}</span>

                                        {% if item.assigned_to %}
                                            <span class='assigned-to'>{{ item.assigned_to.name.split()[0].upper() }}</span>
                                        {% endif %}
                                    </div>
                                </a>

                                <div class='controls text-center mt-2'>
                                    <a class='float-left {% if status_loop.index < 2 %} invisible {% endif %}' href='/items/{{ item.id }}/demote'>
                                        <span class="oi oi-arrow-thick-left" title="{{ data[status_loop.index - 2]['status'] }}"></span>
                                    </a>

                                    <a href='/items/{{ item.id }}/backlog'>
                                        <span class="oi oi-action-undo" title='Return to Backlog'></span>
                                    </a>

                                    <a class='float-right {% if status_loop.index > data|length - 1 %} invisible {% endif %}' href='/items/{{ item.id }}/promote'>
                                        <span class="oi oi-arrow-thick-right" {% if status_loop.index < data|length %} title="{{ data[status_loop.index]['status'] }}" {% endif %}></span>
                                    </a>
                                </div>

                            </div>

                        </div>

                    {% endif %}
                {% endfor %}

            </div>

        {% endfor %}
    </div>

{% endblock %}